spring: 
  profiles:
    active: dev
  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    #default-property-inclusion: NON_NULL
    deserialization: 
      fail-on-unknown-properties: false
    serialization: 
      indent-output: true
    time-zone: GMT+8
  http:
    multipart:
      maxFileSize: 10Mb  
      maxRequestSize: 10Mb  
mapper: 
  identity: MYSQL
  mappers: tk.mybatis.mapper.common.Mapper
  not-empty: false
mybatis: 
  configuration: 
    default-statement-timeout: 300
    mapUnderscoreToCamelCase: true
  mapper-locations: "classpath*:config/mapper/*.xml"
  type-aliases-package: com.tattooju.entity
pagehelper: 
  helperDialect: mysql
  params: count=countSql
  reasonable: true
  supportMethodsArguments: true
